@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  background-color:#CECECE;
}

#rundio {
  margin:150px auto;
  display:flex;
  justify-content: center;
  width:300px;
  height:300px;
  font-family:'Lobster', cursive;
}
